	/*
  	Flaticon icon font: Flaticon
  	Creation date: 05/10/2019 10:42
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../../flaticon/it_company/Flaticon.eot");
  src: url("../../flaticon/it_company/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../../flaticon/it_company/Flaticon.woff2") format("woff2"),
       url("../../flaticon/it_company/Flaticon.woff") format("woff"),
       url("../../flaticon/it_company/Flaticon.ttf") format("truetype"),
       url("../../flaticon/it_company/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 16px;
  font-style: normal;
}

.flaticon-arrow-pointing-to-right:before { content: "\f100"; }
.flaticon-left-arrow:before { content: "\f101"; }
.flaticon-idea:before { content: "\f102"; }
.flaticon-technical-support:before { content: "\f103"; }
.flaticon-edit:before { content: "\f104"; }
.flaticon-layers:before { content: "\f105"; }
.flaticon-paper-plane:before { content: "\f106"; }
.flaticon-web:before { content: "\f107"; }
.flaticon-earth-globe:before { content: "\f108"; }
.flaticon-startup:before { content: "\f109"; }
.flaticon-up-arrow:before { content: "\f10a"; }