	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/12/2019 12:53
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../../flaticon/doctor_01/Flaticon.eot");
  src: url("../../flaticon/doctor_01/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../../flaticon/doctor_01/Flaticon.woff2") format("woff2"),
       url("../../flaticon/doctor_01/Flaticon.woff") format("woff"),
       url("../../flaticon/doctor_01/Flaticon.ttf") format("truetype"),
       url("../../flaticon/doctor_01/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 16px;
font-style: normal;
}

.flaticon-magnifying-glass:before { content: "\f100"; }
.flaticon-internet:before { content: "\f101"; }
.flaticon-doctor:before { content: "\f102"; }
.flaticon-call:before { content: "\f103"; }
.flaticon-face:before { content: "\f104"; }
.flaticon-chicken-breast:before { content: "\f105"; }
.flaticon-support:before { content: "\f106"; }
.flaticon-care:before { content: "\f107"; }
.flaticon-next:before { content: "\f108"; }
.flaticon-quote-left:before { content: "\f109"; }